.page-container {
  background-image: url(../../../public/icons/homeBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.page-wrap {
  padding: 8px 100px;
  color: #fff;

  .opration-refresh {
    margin-top: 16px;

    .opration-refresh-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .opration-refresh-step {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 700;

        >div {
          margin: 0 7px;
        }

        img {
          width: 50px;
          height: 20px;
          margin-top: -3px;
        }
      }
    }

    .opration-refresh-content {
      height: 272px;
      margin-top: 16px;

      .refresh-log-box {
        background-color: #2a2a2a;
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
      }

      .refresh-line-box {
        background-color: #3e3e3e;
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
        display: flex;
        align-items: center;
      }
    }
  }

  .opration-apply {
    margin-top: 16px;

    .opration-apply-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .opration-apply-step {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 700;

        >div {
          margin: 0 7px;
        }

        img {
          width: 50px;
          height: 20px;
          margin-top: -3px;
        }
      }
    }

    .opration-apply-content {
      height: 272px;
      margin-top: 16px;

      .apply-log-box {
        background-color: #2a2a2a;
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
      }

      .apply-line-box {
        background-color: #3e3e3e;
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
        display: flex;
        align-items: center;
      }
    }

  }

  .ant-table {
    background: #2a2a2a;
  }

  .ant-table-thead>tr>th {
    background: #3e3e3e;
    color: #fff;
    font-size: 20px;
    border-bottom: unset;
    padding: 8px;
  }

  .ant-table-tbody>tr>td {
    background: #2a2a2a;
    color: #fff;
    font-size: 20px;
    border-bottom: unset;
    padding: 8px;
  }
  .ant-table-tbody > tr.ant-table-placeholder:hover > td{
    background: unset;
  }
  .ant-empty-normal {
    color: #fff;
  }
  .rowBgColor{
    background: #3e3e3e;
  }

  .service-list {
    margin-top: 16px;

    .tables-titles {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }



  }

  .version-list {
    margin-top: 16px;
    .tables-titles {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .log-content{
    margin-top: 16px;
    .log-titles{
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .log-content-box{
      background-color: #2a2a2a;
      font-size: 20px;
      font-weight: 700;
      padding: 10px;
    }
  }
}
