.service-content{
  display: flex;
  align-items: flex-start;
  height: 100%;
  .service-list-select{
    width: 202px;
    margin-right: 20px;
    border: 1px solid gray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .service-item-list{
      margin-top: 5px;
      padding: 0px 20px;
      >div{
        padding: 3px 0;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
  .service-select-content{
    width: calc(100% - 200px);
    border: 1px solid gray;
    height: 100vh;
    .top-search-content{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      padding: 20px;
      >div{
          display: flex;
          align-items: center;
          margin-right: 20px;
      }
      .top-search-label{
          margin-right: 8px;
      }
    }
  }
}

.config-content-list{
  padding: 0 20px;
  >div{
    margin-bottom: 20px;
  }
}
