.top-search {
  display: flex;
  align-items: center;
  justify-content: space-between;

  >div {
    display: flex;
    align-items: center;
  }

  .top-search-label {
    margin-right: 8px;
  }
  .top-search-right{
    display: flex;
    align-items: center;
    >div{
      display: flex;
      align-items: center;
      margin: 10px;
    }
    .green{
      width: 20px;
      height: 20px;
      background-color: green;
    }
    .yellow{
      width: 20px;
      height: 20px;
      background-color: yellow;
    }
    .red{
      width: 20px;
      height: 20px;
      background-color: red;
    }
    .text{
      font-size: 18px;
      font-weight: 500;
      margin-left: 8px;
    }
  }
}
.node-wrap{
  margin: 20px 0;
  .node-list{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    .node-title{
      font-size: 18px;
      font-weight: 500;
      margin-top: -3px;
    }
    .square-list{
      margin-left: 50px;
      display: flex;
      align-items: center;
      color: #fff;
      >div{
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .square-item-green{
        width: 50px;
        height: 50px;
        background-color: green;
      }
      .square-item-yellow{
        width: 50px;
        height: 50px;
        background-color: yellow;
      }
      .square-item-red{
        width: 50px;
        height: 50px;
        background-color: red;
      }
    }
  }
}

