.env-content{
  display: flex;
  align-items: flex-start;
  height: 500px;
  .env-list-select{
    margin-right: 20px;
    border: 1px solid #d9d9d9;
    height: 500px;
    display: flex;
    flex-direction: column;
    .env-content-title{
      width: 200px;
      font-size: 18px;
      font-weight: 700;
      padding: 5px 20px;
      border-bottom: 1px solid #d9d9d9;
    }
    .env-item-list{
      >div{
        padding: 3px 20px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        border-bottom: 1px solid #d9d9d9;
      }
      .item-active{
        background-color: #d9d9d9;
      }
      >div:hover{
        background-color: #d9d9d9;
      }
    }
  }
}
.envconfig-right-content{
  width: calc(100% - 200px);
  height: 500px;
}
